body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #666;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
}
h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 36px;
    color: green;
}
h3, h4 {
    font-size: 20px;
    font-weight: 400;
    color: red;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 16px;
}
p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #1E7A46;
    font-weight: 400;
}
a:hover, a:focus {
    text-decoration: none;
    color: #222;
}
ul, ol {
    list-style: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    z-index: 99999;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    padding: 0;
}
ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}
hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #1E7A46;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}
/* Navigation */
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
    font-size: 26px;
    font-weight: 600;
    color: #eee;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #d2e4da;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 2px;
    border-radius: 0;
    margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.on {
    background-color: green !important;
    padding: 0 !important;
    /*padding: 15px 0 !important;*/
    border-bottom: 1px solid #186138 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #1b6d3f;
}
.section-title {
    margin-bottom: 70px;
}
.section-title p {
    font-size: 18px;
    color: #666;
}
.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #1E7A46;
    border-bottom: 4px solid #1b6d3f;
    padding: 14px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    border-radius: 4px;
    margin-top: 20px;
    transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #1b6d3f;
    border-bottom: 4px solid #1b6d3f;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: none;
}
/* Header Section */
.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(https://cdn.lynda.com/course/188210/188210-636167159883190922-16x9.jpg) top center no-repeat;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .overlay {
    background: rgba(0,0,0,0.2);
}
.intro .fa {
    font-size: 94px;
    margin-bottom: 40px;
    color: #fff;
}
.intro h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro p {
    color: #fff;
    font-size: 19px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 40px;
}
header .intro-text {
    padding-top: 275px;
    padding-bottom: 250px;
    text-align: center;
}
.header-line-effect {
    position: relative;
    overflow: hidden;
    height: 90px;
    margin-top: -85px;
    z-index: 9
}
.header-line-effect span {
    width: 55%;
    height: 90px;
    position: absolute;
    left: -10px;
    bottom: 0;
    background: #f6f6f6;
    transition: all .6s;
    -webkit-transform: rotate(3deg) translate(3px, 45px);
    -moz-transform: rotate(3deg) translate(3px, 45px);
    -ms-transform: rotate(3deg) translate(3px, 45px);
    -o-transform: rotate(3deg) translate(3px, 45px);
    transform: rotate(3deg) translate(3px, 45px);
}
.header-line-effect span:last-child {
    left: auto;
    right: -10px;
    -webkit-transform: rotate(-3deg) translate(-3px, 45px);
    -moz-transform: rotate(-3deg) translate(-3px, 45px);
    -ms-transform: rotate(-3deg) translate(-3px, 45px);
    -o-transform: rotate(-3deg) translate(-3px, 45px);
    transform: rotate(-3deg) translate(-3px, 45px);
}
/* About Section */
#about {
    padding: 120px 0;
    background: #f6f6f6;
}
#about h3 {
    font-size: 22px;
    margin: 0 0 20px 0;
}
#about .about-text hr {
    margin-left: 0;
}
#about .vcenter {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
#about img {
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
    box-shadow: 0 0 40px #ddd;
    border-right: 0;
}
#about p {
    line-height: 24px;
    margin: 30px 0;
}
/* Services Section */
#services {
    padding: 120px 0;
}
#services .service-media {
    margin: 10px;
}
#services .service-media img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 20px 0;
}
#services .service-desc {
    margin: 10px 10px 40px;
}
#services h3 {
    font-weight: 600;
    padding: 5px 0;
    text-transform: uppercase;
}
#services .service-desc hr {
    margin-left: 0;
}
/* Portfolio Section */
#portfolio {
    padding: 100px 0;
    background: #f6f6f6;
}
.categories {
    padding-bottom: 40px;
    text-align: center;
}
ul.cat li {
    display: inline-block;
}
ol.type li {
    display: inline-block;
    margin-left: 20px;
}
ol.type li a {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 16px;
    border: 0;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s;
}
ol.type li a.active {
    background: #1E7A46;
    color: #eee;
}
ol.type li a:hover {
    background: #1E7A46;
    color: #eee;
}
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item {
    margin: 15px 0;
}
.portfolio-item .hover-bg {
    overflow: hidden;
    position: relative;
}
.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 30% 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
    opacity: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hover-bg:hover .hover-text {
    opacity: 1;
}
/* Testimonials Section */
#testimonials {
    padding: 100px 0;
}
#testimonials i {
    color: #e6e6e6;
    font-size: 32px;
    margin-bottom: 20px;
}
#testimonial p {
    color: #666;
    font-weight: 400;
    line-height: 32px;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=1);
    opacity: 1;
    border-radius: 50%;
    background: #fff;
    transition: all 0.5s;
    border: 1px solid #ccc;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #1E7A46;
    border: 1px solid #1E7A46;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #1E7A46;
    border: 1px solid #1E7A46;
}
/* Quote Section */
#quote-call {
    color: #fff;
    background: #444 url(http://vietstarland.vn/wp-content/uploads/2017/03/ke-toan-xuat-nhap-khau-05.jpg) center center no-repeat fixed;
    background-size: cover;
}
#quote-call .overlay {
    padding: 110px 0;
    background: rgba(0, 0, 0, 0.5);
}
#quote-call h2 {
    color: #fff;
    font-weight: 400;
    margin: 0;
}
/* Contact Section */
#contact {
    padding: 100px 0 40px 0;
    background: #F6F6F6;
}
#contact .section-title p {
    color: #777;
}
#contact form {
    padding: 0;
}
#contact h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
#contact .text-danger {
    color: #cc0033;
    text-align: left;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact .form-control:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
    color: #777;
}
.form-control:-moz-placeholder {
    color: #777;
}
.form-control::-moz-placeholder {
    color: #777;
}
.form-control:-ms-input-placeholder {
    color: #777;
}
#contact .contact-info {
    margin-top: 60px;
    padding-top: 20px;
}
#contact .contact-item {
    margin: 20px 0 40px 0;
}
/* Footer Section*/
#footer {
    background: #333;
    padding: 30px 0 20px;
}
#footer h3 {
    color: #1e7a46;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer .social {
    margin: 10px 0 50px 0;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#footer .social i.fa {
    font-size: 22px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #777;
    color: #222;
    border-radius: 50%;
    transition: all 0.3s;
}
#footer .social i.fa:hover {
    background: #bbb;
}
#footer p {
    color: #666;
    font-size: 15px;
}
#footer a {
    color: #888;
}
#footer a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    #about .vcenter {
        float: left;
    }
    #about img {
        margin: 50px 0;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
     background-color: transparent;
}
.dropdown-menu{
    border-radius: 0px;
}